Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.3
gunicorn==17.5
itsdangerous==0.23
wsgiref==0.1.2
ipdb==0.8
flake8==2.1.0
pyflakes==0.7.3
Flask-SocketIO==0.2.2
peewee==2.2.1
requests==2.2.1
