<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Bike">
		<meta name="author" content="William Bradley">

		<title>Bike</title>
		<link rel="shortcut icon" type="image/png" href="/img/favicon.png">

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/main.css" type="text/css">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style="padding-top: 70px">
		<div id="navbar"></div>
		
		<div class="container">
			<div id="main-content"></div>
		</div>
		<script src="/static/extern/socketio/socket.io.min.js"></script>
		<script src="/static/extern/lodash-2.4.1.js"></script>
		<script src="/static/extern/jquery-1.11.0.min.js"></script>
		<script src="/static/extern/react.js"></script>
		<script src="/static/extern/backbone.js"></script>
		<script src="/static/extern/react.backbone.e65cd27a15.js"></script>
		<script src="/static/models.js"></script>
		<script src="/static/comps.js"></script>
	</body>
</html>
